custom-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: $num-56;
    
    &.fixed{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        background-color: $bg-secondary;
        padding:  8rem 12rem 5.6rem 12rem;
        z-index: 2;
    
        @media (max-height : 1000px) {
            padding-top: 4rem;
        }
    }


   
    > span, a{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: 500;
        color: $text-color-bolder;
    }

    nav{
        display: flex;
        gap: $num-40;
        a{
            color: $text-color-basic;   
            display: inline-block;       
            width: 6rem;
            text-align: center;
            height: $num-24;     

            &:hover, &.active{
                font-weight: 600;
                color: $text-color-bolder
            }
        }

        button{
            background: none;
            border: 0;
            cursor: pointer;
            i{
                font-size: 1.6rem;
            }
        }
    }
}