custom-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: $num-56;

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--bg-secondary);
        margin-bottom: 0;
        z-index: 2;
        transition: opacity 1s ease, transform 1s ease;
        padding: 8rem 12rem 2rem 12rem;

        @media (max-height : 1000px) {
            padding-top: 4rem;
        }
    }



    >span,
    a,
    button {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--text-color-bolder);
        cursor: pointer;
        text-align: center;
    }

    nav {
        display: flex;
        gap: $num-40;
        position: relative;

        a,button {
            color: var(--text-color-basic);
            display: inline-block;
            width: 6rem;
            text-align: center;
            height: $num-24;

            &:hover,
            &.active {
                font-weight: 600;
                color: var(--text-color-bolder);
            }
        }
        

        button {
            background: none;
            border: 0;
            cursor: pointer;
            width: auto;

            i {
                font-size: 1.6rem;
                color: var(--text-color-bolder);
                transition: transform 0.4s ease;

                .dark & {
                    transform: rotate(180deg);
                }
            }

            &.m-menu {
                display: none;

                >svg {
                    path {
                        fill: var(--text-color-bolder);
                    }
                }
            }
        }

        .contact-popup{
            border: 1px solid var(--box-border);
            padding: $num-10 $num-16;    
            background-color: var(--bg-box);     
            border-radius: $num-4;
            position: absolute;
            top: 150%;
            right: -10%;
            z-index: 9;
            opacity: 0;
            pointer-events: none;
            box-shadow: .4rem .4rem 1rem rgba(0,0,0,0.1);
            transition: opacity 1s ease-out, right 1s ease-out;
            ul{
                li{
                    display: flex;
                    align-items: center;
                    gap: $num-16;

                    &:first-child{
                        margin-bottom: $num-8;
                    }

                    small,a,span{
                        font-size: $num-14;
                        display: block;
                        line-height: 1.8;
                    }

                    small{
                        color: var(--text-color-caption);
                        min-width: 5rem;
                    }
                   
                    a,span{
                        color: var(--text-color-bolder);
                        width: auto;
                        height: auto;
                    }

                    a{
                        &:hover{
                            text-decoration: underline;
                            font-weight: 400;
                        }
                    }
                }
            }

            &.visible{
                opacity: 1;
                right: 7%;    
                pointer-events:all;      
            }
        }
    }



    // 모바일 헤더
    .m-header {
        display: none;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        >.logo {
            font-size: $num-16;
        }

        >.m-menu {
            background: none;
            border: 0;
            text-align: center;
            cursor: pointer;


            svg {
                width: $num-24;
                height: $num-24;
                object-fit: cover;
                fill: var(--text-color-bolder);

                path {
                    fill: var(--text-color-bolder)
                }
            }
        }
    }
 

    @each $bp in xs, sm, md {
        @include responsive(#{$bp}){
            margin-bottom: $num-24;
        
            >*:not(.m-header){
                display: none;
            }
            .m-header {
                display: flex;
            }
    
            &.fixed{
                padding: $num-40 $num-24 $num-20 $num-24;
            }
        }
       
    }


    @each $bp in lg, xl{
        @include responsive(#{$bp}){
            &.fixed{
                padding: 6rem 8rem 2rem 8rem;
            }
        }
    }

}