.about {
    background-color: var(--bg-secondary);


    main {
        height: calc(100% - 8rem);
        max-width: 139.5rem;
        margin: 0 auto;
        flex-grow: 1;

        .resume {

            height: 100%;

            .grid-container {
                display: grid;
                grid-template-rows: repeat(7, 1fr);
                grid-template-columns: repeat(10, 1fr);
                column-gap: $num-40;
                row-gap: $num-40;
                height: 100%;

                @media (max-height : 1000px) {
                    column-gap: $num-30;
                    row-gap: $num-30;
                }

                @include responsive(md) {
                    grid-template-rows: repeat(4, 1fr);
                    grid-template-columns: 1fr;
                }

                >li {
                    border-radius: $num-10;
                    background-color: var(--bg-box);
                    border: 0.1rem solid var(--box-border);
                    box-shadow: 0px 0.8rem 2.5rem 0px rgba(94, 94, 94, 0.1);
                    padding: $num-56 $num-48 $num-40 $num-48;

                    &:last-child {
                        padding: $num-32 $num-28;
                        @include responsive(md) {
                            padding: $num-56 $num-48 $num-40 $num-48;
                        }
                    }


                    &.left{
                        grid-row: span 7;
                        grid-column: span 3;

                        @include responsive(md) {
                            grid-row: span 1;
                            grid-column: span 1;
                        }
                    }

                    &.center{
                        grid-row: span 7;
                        grid-column: span 4;

                        @include responsive(md) {
                            grid-row: span 1;
                            grid-column: span 1;
                        }
                    }

                    &.right{
                        &.skill{
                            grid-row: span 5;
                            grid-column: span 3;
                            @include responsive(md) {
                                grid-row: span 1;
                                grid-column: span 1;
                            }
                        }
                        &.edu{
                            grid-row: span 2;
                            grid-column: span 3;
                            @include responsive(md) {
                                grid-row: span 1;
                                grid-column: span 1;
                            }
                        }
                    }
                   

                    @media (max-height:1000px) {
                        & {
                            padding: $num-40 $num-48 $num-40 $num-48;
                        }
                    }

                    @media (max-height:1040px) {
                        & {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                        }
                    }
                }

                li.left {
                    display: flex;
                    flex-direction: column;
                    background: radial-gradient(56.2% 104.42% at 10.18% 12.5%, #FAFCFE 0%, #F9F9FF 50%, #F0F7FF 100%);
                    box-shadow: 0px 0.8rem 2.5rem 0px rgba(33, 41, 80, 0.1);

                    .dark & {
                        background: radial-gradient(64.06% 120.46% at 0% 0%, $gray-80 0%, $gray-90 100%);
                        border: 0
                    }

                    // 프로필
                    >.profile {
                        @include flex-align-center;
                        gap: $num-24;

                        >.img-box {
                            width: 8rem;
                            aspect-ratio: 1 / 1;
                            border-radius: 10rem;
                            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
                            background: url(images/img_profile.png) no-repeat;
                            background-size: cover;
                        }

                        >.txt-box {
                            h6 {
                                color: var(--text-color-bolder);
                                line-height: 1;
                            }

                            span {
                                display: block;
                                padding-top: $num-8;
                                font-size: $num-16;
                                color: var(--text-color-caption);
                                line-height: 1;
                            }
                        }

                    }

                    //소개글
                    >.introduce {
                        >.img-box {
                            width: 100%;
                            height: 23rem;
                            text-align: right;
                            margin-bottom: $num-40;
                            position: relative;

                    
                            img {
                                height: 140%;
                                aspect-ratio: 1 / 1;
                                position: absolute;
                                right: -6rem;
                                top: -1rem;
                            }

                            @media (max-height:1000px) {
                                & {
                                    height: 20rem;
                                }
                            }

                            @include responsive(md){
                                height: 32vw;
                                margin-bottom: 0;
                                img{
                                    right: 0;
                                }
                            }
                        }

                        >span {
                            font-size: $num-30;
                            line-height: 1.5;
                            display: block;
                            font-weight: 500;
                            color: var(--text-color-bolder);
                        }

                        >p {
                            padding-top: $num-40;
                            font-size: $num-14;
                            color: var(--text-color-basic);
                            font-weight: 400;

                            @include responsive(md){
                                padding: $num-20 0;
                            }
                        }
                    }

                    >.hashtag {
                        @include flex-align-center;
                        flex-wrap: wrap;
                        gap: $num-8;
                        margin-top: auto;

                        >li {
                            font-size: $num-12;
                            line-height: 2;
                            color: var(--text-color-caption);
                            border: 0.1rem solid var(--text-color-caption);
                            padding: 0 $num-16;
                            border-radius: $round-13;
                            display: inline-block;
                        }
                    }
                }

                li.center,
                li.right {
                    >h6 {
                        padding-bottom: $num-40;
                        color: var(--text-color-bolder);

                        @media (max-height:1000px) {
                            & {
                                padding-bottom: $num-28;
                            }
                        }
                        
                        @include responsive(md) {
                            padding-bottom: $num-24;
                        }
                    }
                }

                li.center {
                    >ul {
                        width: 100%;

                        >li {
                            &:not(:last-child) {
                                margin-bottom: $num-16;
                            }

                            .company-info {
                                width: 100%;
                                @include flex-align-center;
                                gap: $num-8;
                                margin-bottom: $num-12;

                                b,
                                span {
                                    font-size: $num-14;
                                    color: var(--text-color-basic);
                                    font-weight: 400;
                                }

                                b {
                                    font-weight: 600;
                                    color: var(--text-color-bolder);
                                    @include flex-align-center;
                                    gap: $num-8;

                                    &::after {
                                        content: '';
                                        display: inline-block;
                                        width: 0.1rem;
                                        height: 1.2rem;
                                        background-color: var(--text-color-basic);
                                    }
                                }

                                small {
                                    font-size: $num-12;
                                    color: var(--text-color-caption);
                                    margin-left: auto;
                                }
                            }

                            .main-work {
                                width: 100%;
                                background-color: var(--bg-desc);
                                border-radius: $num-4;
                                padding: $num-16 $num-14;
                                display: flex;
                                flex-direction: column;
                                gap: $num-4;

                                >li {
                                    font-size: $num-13;
                                    line-height: 2.1rem;
                                    color: var(--text-color-basic);
                                    font-weight: 400;
                                }
                            }
                        }

                    }
                }

                li.right {

                    &.skill {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        flex-grow: 1;

                        .main-skill {
                            height: 100%;
                            width: 100%;
                            @include flex-align-center;
                            justify-content: space-between;

                            >li {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                >div {
                                    @include flex-align-center;
                                    gap: $num-16;

                                    i {
                                        width: $num-40;
                                        aspect-ratio: 1 / 1;

                                        img {
                                            width: 100%;
                                            transform: translate(0.8rem, 0.5rem);
                                        }
                                    }

                                    >div {
                                        span {
                                            display: block;
                                            font-size: $num-13;
                                            padding-bottom: $num-8;
                                            color: var(--text-color-basic);
                                            line-height: 1;
                                        }

                                        .bar {
                                            width: 6.4rem;
                                            height: 1rem;
                                            position: relative;
                                            background-color: var(--skill-bar);

                                            .bar-val {
                                                width: 100%;
                                                height: 100%;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                            }
                                        }
                                    }

                                    // bar value gradiant
                                    &.html {
                                        .bar-val {
                                            background: linear-gradient(90deg, #FFBD71 0%, #EA714C 100%);
                                        }
                                    }

                                    &.css {
                                        .bar-val {
                                            background: linear-gradient(90deg, #42C5FF 0%, #1492D7 100%);
                                        }
                                    }

                                    &.sass {
                                        .bar-val {
                                            background: linear-gradient(90deg, #F153B6 0%, #69244F 100%);
                                        }
                                    }

                                    &.jquery {
                                        .bar-val {
                                            background: linear-gradient(90deg, #2C8FD9 0%, #04355A 100%);
                                        }
                                    }

                                    &.figma {
                                        .bar-val {
                                            background: linear-gradient(90deg, #7B7B7B 0%, #161616 100%);
                                        }
                                    }

                                    &.xd {
                                        .bar-val {
                                            background: linear-gradient(90deg, #FB5FF2 0%, #953890 100%);
                                        }
                                    }

                                    &.photoshop {
                                        .bar-val {
                                            background: linear-gradient(90deg, #30A7FF 0%, #0079FF 100%);
                                        }
                                    }

                                    &.illu {
                                        .bar-val {
                                            background: linear-gradient(90deg, #FD9A01 0%, #C67800 100%);
                                        }
                                    }
                                }

                                @media (max-height:1000px) {
                                    & {
                                        gap: $num-24;
                                    }
                                }

                                @include responsive(md) {
                                    width: 100%;
                                    flex-direction: row;
                                    margin: $num-8 0;
                                }
                            }
                            @include responsive(md) {
                                flex-direction: column;
                                width: 100%;
                            }
                        }

                        .etc-tool {
                            padding: $num-12 $num-14;
                            background-color: var(--bg-desc);
                            border-radius: $num-4;
                            margin-top: $num-32;
                            border-radius: $num-4;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            >span {
                                color: var(--text-color-caption);
                                font-size: $num-13;
                                font-weight: 400
                            }

                            >ul {
                                @include flex-align-center;
                                gap: $num-20;
                                flex-wrap: wrap;
                                justify-content: space-around;


                                li {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    img {
                                        width: 2.8rem;
                                        aspect-ratio: 1 / 1;
                                    }

                                    span {
                                        font-size: $num-13;
                                        color: var(--text-color-basic);
                                    }
                                }


                                @include responsive(xs) {
                                    justify-content: flex-start;
                                }

                                @include responsive(sm) {
                                    justify-content: space-around;
                                }

                                @include responsive(md) {
                                    justify-content: space-around;
                                }
                            }

                            @media (max-height:1000px) {
                                & {
                                    margin-top: $num-32;
                                }
                            }


                        }

                       
                    }

                    &.edu {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        flex-direction: row;

                        >div {
                            >p {
                                font-size: $num-15;
                                font-weight: 600;
                                margin-bottom: $num-24;
                                color: var(--text-color-bolder);
                            }

                            >ul {
                                >li {
                                    margin-bottom: $num-8;

                                    span {
                                        font-size: $num-13;
                                        color: var(--text-color-basic);
                                        display: block;
                                    }

                                    small {
                                        font-size: $num-12;
                                        color: var(--text-color-caption);
                                    }
                                }

                                @include responsive(md){
                                    display: flex;
                                    align-items: flex-start;
                                    gap: $num-24;
                                }

                            }
                        }
                    }
                }
            }

        }
    }

    @each $bp in xs, sm{
        @include responsive(#{$bp}) {
            overflow-y: auto !important;

            >main {
                height: auto;
                max-width: unset;
                width: 100%;
    
                >.resume {
                    padding: 0;
    
                    .grid-container {
                        display: flex;
                        flex-direction: column;
    
                        >li {
                            padding: $num-30;
    
                            &:last-child {
                                padding: $num-30;
                            }
                        }
    
                        li.center,
                        li.right {
                            >h6 {
                                padding-bottom: $num-24;
                            }
                        }
    
                        li.left {
                            >.introduce {
                                >.img-box {
                                    height: 18rem;
    
                                    >img {
                                        right: -4rem;
                                    }
                                }
    
                                >span {
                                    font-size: $num-28;
                                }
    
                                >p {
                                    padding: $num-28 0;
                                    word-break: keep-all;
                                }
                            }
    
                            .hashtag {
                                >li {
                                    padding: 0 $num-12;
                                }
                            }
                        }
    
                        li.center {
                            >ul {
                                >li {
    
                                    &:not(:last-child) {
                                        margin-bottom: $num-30;
                                    }
    
                                    .company-info {
                                        flex-wrap: wrap-reverse;
                                        row-gap: 0.2rem;
                                        margin-bottom: $num-10;
    
                                        >small {
                                            margin-left: unset;
                                            margin-right: 10rem;
                                        }
                                    }
    
                                    .main-work {
                                        li {
                                            list-style: disc;
                                            list-style-position: inside;
                                        }
                                    }
    
                                }
                            }
                        }
    
                        li.right {
                            &.skill {
                                >.main-skill {
                                    justify-content: space-around;
    
                                    >li {
                                        gap: $num-16;
    
                                        >div {
                                            i {
                                                width: $num-32;
    
                                                >img {
                                                    transform: translate(0.4rem, 0.2rem);
                                                }
    
                                            }
                                        }
                                    }
                                }
    
                                >.etc-tool {
                                    gap: $num-16;
                                }
                            }
    
                            &.edu {
                                flex-direction: column;
                                gap: $num-20;
    
                                >div {
                                    >p {
                                        margin-bottom: $num-16;
                                    }
    
                                    >ul {
                                        >li {
                                            margin-bottom: $num-8;
                                        }
                                    }
                                }
    
                            }
    
                        }
                    }
                }
            }
        }
    }

    @include responsive(lg) {
        main {
            max-width: 120rem;
        }
    }
}