.home {
    background: var(--bg-gradient);
    overflow: hidden;
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        .body {
            @include flex-align-center;
            justify-content: space-between;
            height: 100%;
            position: relative;

            .txt-box {
                transform: translateY(-50%);
                opacity: 0;
                animation: fadeLeft 1s ease-out .5s forwards;
                

                h4 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 4.8rem;
                    font-weight: 500;
                    color: var(--text-color-bolder);
                    line-height: normal;
                    letter-spacing: -0.05em;
                }

                h1 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 7rem;
                    font-weight: 700;
                    color: var(--text-color-bolder);
                    line-height: normal;
                    letter-spacing: -0.05em;
                }

                @keyframes fadeLeft {
                    0%{
                        transform: translate(-100%, -50%);
                    }
                    100%{
                        transform: translate(0, -50%);
                        opacity: 1;
                    }
                }
            }

            .img-group {
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: -1;
                pointer-events: none;
                transform: translate(-50%,-50%) scale(.9);
                width: 30rem;
                aspect-ratio: 1 / 1;
                opacity: 0;
                animation: fadeScale 1.5s ease-out forwards;

                >.img-box {
                    img {
                        width: 100%;
                        position: absolute;
                        -webkit-user-drag: none;

                        &.fire {
                            transform: rotate(7.7deg);
                            right: -6rem;
                            top: -26rem;
                            animation: moving1 2s ease-in 0s infinite alternate forwards;

                            @keyframes moving1 {
                                0% {
                                    top: -26rem;
                                }

                                100% {
                                    top: -28rem;
                                }
                            }
                        }

                        &.heart {
                            width: 95%;
                            transform: rotate(-24.79deg) translateY(-50%);
                            top: 50%;
                            z-index: 1;
                            animation: moving2 2s ease-in 0s infinite alternate forwards;

                            @keyframes moving2 {
                                0% {
                                    top: 50%;
                                }

                                100% {
                                    top: 45%;
                                }
                            }
                        }

                        &.key {
                            transform: rotate(-17.89deg);
                            bottom: -19rem;
                            right: -6rem;
                            animation: moving3 2s ease-in 0s infinite alternate forwards;

                            @keyframes moving3 {
                                0% {
                                    bottom: -19rem;
                                }

                                100% {
                                    bottom: -17rem;
                                }
                            }
                        }
                    }

                    &::after {
                        content: attr(name);
                        display: block;
                        position: absolute;
                        padding: $num-10 $num-30;
                        line-height: 1;
                        font-size: $num-18;
                        border-radius: 5rem;
                        color: $white;
                        z-index: 999;
                        font-weight: 600;                                           
                    }

                    &[name="Passion"] {
                        &::after {
                            top: -30%;
                            right: -30%;
                            border: 0.1rem solid rgba(255, 255, 255, 0.50);
                            background: linear-gradient(94deg, rgba(251, 204, 47, 0.50) 0%, rgba(255, 186, 109, 0.75) 56.28%, #FE8600 100%);
                            box-shadow: 0px 0.4rem 1rem 0px rgba(109, 125, 142, 0.10);


                            @each $bp in xs, sm{
                                @include responsive(#{$bp}){
                                    right: unset;
                                    left: 0;
                                }
                            }
                          
                        }
                    }

                    &[name="Fellowship"] {
                        &::after {
                            top: 35%;
                            left: -60%;
                            border: 0.1rem solid rgba(255, 255, 255, 0.50);
                            background: linear-gradient(89deg, #FD394A 5.04%, rgba(255, 18, 78, 0.75) 46.46%, rgba(253, 134, 193, 0.50) 99.78%);
                            box-shadow: 0px 0.4rem 1rem 0px rgba(109, 125, 142, 0.10);
                          
                            @each $bp in xs, sm{
                                @include responsive(#{$bp}){
                                    right: -10%;
                                    left: unset;
                                }
                            }
                            
                        }
                    }

                    &[name="Adventure"] {
                        &::after {
                            top: 100%;
                            right: -50%;
                            border: 0.1rem solid rgba(255, 255, 255, 0.50);
                            background: linear-gradient(94deg, rgba(64, 247, 255, 0.50) 0%, rgba(77, 178, 255, 0.75) 48.08%, #0E33CE 100%);
                            box-shadow: 0px 0.4rem 1rem 0px rgba(109, 125, 142, 0.10);
                           

                            @each $bp in xs, sm{
                                @include responsive(#{$bp}){
                                    right: 57%;
                                 }
                            }
                          
                        }
                    }

                }

                .wave-animation {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;

                    >circle {
                        opacity: 0;

                        &.c-01 {
                            animation: wave 2s ease-in-out 0s infinite alternate forwards;
                        }

                        &.c-02 {
                            animation: wave 2s ease-in-out 1s infinite alternate forwards;
                        }

                        &.c-03 {
                            animation: wave 2s ease-in-out 2s infinite alternate forwards;
                        }

                        &.c-04 {
                            animation: wave 2s ease-in-out 3s infinite alternate forwards;
                        }

                        @keyframes wave {
                            0% {
                                opacity: 0;
                            }

                            100% {
                                opacity: 1;
                            }
                        }
                    }
                }


                @keyframes fadeScale {
                    0%{
                        transform: translate(-50%,-50%) scale(0.9);
                    }
                    100%{
                        transform: translate(-50%,-50%) scale(1);
                        opacity: 1;
                    }
                }
            }

            .italic {
                transform: translateY(-25%);
                opacity: 0;
                animation: fadeRight 1s ease-out .8s forwards;

                h1 {
                    font-family: 'Old Standard TT', serif;
                    font-size: 14rem;
                    font-weight: 400;
                    color: var(--text-color-bolder);
                    letter-spacing: -0.03em;
                    font-style: italic;
                }

                @keyframes fadeRight {
                    0%{
                        transform: translate(100%, -25%);
                    }
                    100%{
                        transform: translate(0, -25%);
                        opacity: 1;
                    }
                }
            }

            @each $bp in lg, xl{
                @include responsive(#{$bp}){
                    align-items: flex-end;
                    > .txt-box{
                        @media (max-height : 1000px) {
                            h4 {
                                font-size: 3.8rem;
                            }
            
                            h1 {
                                font-size: 6rem;
                            }
                        }
                    }
                    > .img-group{
                        top: 30vh;
                    }
                    > .italic{
                        transform: unset !important;
                        >h1{
                            @media (max-height : 1000px) {
                                font-size: 11rem;
                            }
                        }
                        
                    }
                }
            }
        }

        .bottom {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            >span {
                font-size: $num-18;
                font-family: 'Montserrat', sans-serif;
                color: var(--text-color-basic);
                letter-spacing: -0.05em;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: $num-16;

                li {
                    font-size: $num-18;
                    text-align: right;
                    color: var(--text-color-basic);
                    line-height: 1;
                }
            }
        }
    }


    @each $bp in xs, sm, md{

        @include responsive(#{$bp}){
            overflow: hidden;
            > main{
                height: 100%;
                .body{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    height: 100%;

                    .txt-box{
                        display: none;
                    }
                    .img-group{
                        pointer-events: none;
                        top: 35vh;

                        @include responsive(xs){
                            transform: translateX(-50%) scale(0.85);
                        }
                    }
                    .italic{
                        transform: translateY(0);
                        h1{
                            font-size: 6.6rem;
                        }
                    }
                }
    
    
                .bottom{
                    display: block;
                    >span {
                        font-size: $num-13; 
                        position: relative;
                        bottom: 2vh;                   
                    }
        
                    ul {
                        gap: $num-8;
                        li {
                            font-size: $num-13;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
 
}