html{
    scroll-behavior:  smooth;
    
    body{
        background-color: var(--bg-secondary);
        
        .wrap{
            width: 100%;
            min-width: 170rem;
            height: 100vh;
            height: 100dvh;
            padding: 8rem 12rem;
            display: flex;
            flex-direction: column;    
            position: relative;
        
        
            @media (max-height : 1000px) {
                &{
                    padding: 4rem 12rem;
                }
            }
        
            // common
            section {
                width: 100%;
            }
        }
    }
    
}

