.work-detail {
    main {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: $num-40;
        row-gap: $num-40;
        padding: 8rem 14.3rem 8rem 14.3rem;


        .side {
            grid-column: span 3;
            height: fit-content;
            position: sticky;
            top: 8rem;

            .work-info {
                border-top: 0.1rem solid $gray-70;
                border-bottom: 0.1rem solid $gray-70;
                padding: $num-48 $num-8;
                display: flex;
                flex-direction: column;
                gap: $num-40;

                >div {
                    display: flex;
                    flex-direction: column;
                    gap: $num-12;

                    >span {
                        font-size: $num-14;
                        color: $text-color-basic;
                        line-height: 1;
                    }

                    >p {
                        color: $text-color-bolder;
                        line-height: 1.3;                        

                        &.desc-txt {
                            font-size: $num-13;
                            font-weight: 400;
                            color: $text-color-basic;
                            line-height: 1.5;
                        }
                    }

                    >ul {
                        display: flex;
                        align-items: flex-end;

                        >li {
                            width: $num-32;
                            aspect-ratio: 1 / 1;
                            >img {
                               width: 100%;
                            }
                        }
                    }
                }
            }

            .pagenation {
                height: $num-48;
                border-bottom: 0.1rem solid $gray-70;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 $num-8;

                >a {
                    font-size: $num-14;
                    color: $text-color-basic;
                }
            }

        }


        .detail {
            grid-column: span 7;
            display: flex;
            flex-direction: column;
            gap: $num-28;

            picture{
                display: inline-block;
                width: 100%;
                aspect-ratio: 16 / 9;
                background-color: $gray-10;

                img{
                    width: 100%;
                    object-fit: cover;
                }
            }

            .detail-desc{
                font-size: $num-16;
                font-weight: 400;
                color: $text-color-basic;
                line-height: 1.5;
                font-family: 'pretendard';
            }
            
        }
    }

    .btn-page-up{
        @include pageUpBtn;
    }
}