.work-detail {
    main {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: $num-40;
        row-gap: $num-40;
        padding: 8rem 14.3rem 8rem 14.3rem;


        .side {
            grid-column: span 3;
            height: fit-content;
            position: sticky;
            top: 9rem;

            .work-info {
                border-top: 0.1rem solid var(--border-primary);
                border-bottom: 0.1rem solid var(--border-primary);
                padding: $num-48 $num-8;
                display: flex;
                flex-direction: column;
                gap: $num-40;


                >div {
                    display: flex;
                    flex-direction: column;
                    gap: $num-12;

                    >span {
                        font-size: $num-14;
                        color: var(--text-color-caption);
                        line-height: 1;
                        font-weight: 400;
                    }

                    >p {
                        color: var(--text-color-bolder);
                        line-height: 1.3;
                        font-size: $num-15;
                        font-weight: 400;

                        &.desc-txt {
                            line-height: 1.5;

                            >a {
                                display: flex;
                                text-decoration: underline;
                                align-items: center;
                                color: var(--hyperlink-color);

                                &:hover {
                                    font-weight: 500
                                }
                            }
                        }
                    }

                    >ul {
                        display: flex;
                        align-items: flex-end;

                        >li {
                            width: $num-32;
                            aspect-ratio: 1 / 1;

                            >img {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .pagenation {
                height: $num-48;
                border-bottom: 0.1rem solid var(--border-primary);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 $num-8;

                >a {
                    font-size: $num-14;
                    color: var(--text-color-basic);
                    line-height: 1.5;
                    font-weight: 500;

                    &:hover {
                        font-weight: 600;
                        color: var(--text-color-bolder);
                    }
                }
            }

        }


        .detail {
            grid-column: span 7;
            display: flex;
            flex-direction: column;
            gap: $num-28;

            picture {
                display: inline-block;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .img-col-2 {
                display: flex;
                align-items: center;
                gap: $num-24;

                picture {
                    aspect-ratio: unset;
                }
            }

            .detail-desc {
                font-size: $num-16;
                font-weight: 400;
                color: var(--text-color-basic);
                line-height: 1.5;
                font-family: 'pretendard';
            }

        }


        @each $bp in sm, md, lg, xl {
            @include responsive(#{$bp}) {
                padding: 8rem 4rem;
            }
        }

    }

    .btn-page-up {
        @include pageUpBtn;
    }


    @each $bp in xs, sm, md {
        @include responsive(#{$bp}) {
            main {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 2fr;
                column-gap: unset;
                row-gap: $num-40;
                padding: 0;
                padding-bottom: $num-40;

                .side {
                    position: static;
                    padding-top: 8rem;

                    .work-info {
                        gap: $num-24;
                        padding: $num-24 $num-8;
                    }
                }
            }
        }
    }



}