/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Old+Standard+TT:ital@1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "pretendard", sans-serif;
  src: url(font/Pretendard-Medium.subset.woff) format("woff"), url(font/Pretendard-Medium.subset.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
  font-family: "pretendard", sans-serif;
  src: url(font/Pretendard-SemiBold.subset.woff) format("woff"), url(font/Pretendard-SemiBold.subset.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
@font-face {
  font-family: "pretendard", sans-serif;
  src: url(font/Pretendard-Bold.subset.woff) format("woff"), url(font/Pretendard-Bold.subset.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", "pretendard", sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.03em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

h6 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.03em;
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 8rem;
  margin-bottom: 4rem;
}
header > span, header a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #2d2d2d;
}
header nav {
  display: flex;
  gap: 4rem;
}
header nav a {
  color: #555;
  display: inline-block;
}
header nav a:hover, header nav a.active {
  color: #2d2d2d;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.main .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.main .body .txt-box {
  transform: translateY(-50%);
}
.main .body .txt-box h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.8rem;
  font-weight: 500;
  color: #2d2d2d;
  line-height: normal;
  letter-spacing: -0.05em;
}
.main .body .txt-box h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  font-weight: 700;
  color: #2d2d2d;
  line-height: normal;
  letter-spacing: -0.05em;
}
.main .body .img-group {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  aspect-ratio: 1/1;
}
.main .body .img-group img {
  width: 100%;
  position: absolute;
}
.main .body .img-group img.fire {
  transform: rotate(7.7deg);
  right: -6rem;
  top: -26rem;
}
.main .body .img-group img.heart {
  width: 95%;
  transform: rotate(-24.79deg) translateY(-50%);
  top: 50%;
  z-index: 1;
}
.main .body .img-group img.key {
  transform: rotate(-17.89deg);
  bottom: -19rem;
  right: -6rem;
}
.main .body .italic {
  transform: translateY(-25%);
}
.main .body .italic h1 {
  font-family: "Old Standard TT", serif;
  font-size: 14rem;
  font-weight: 400;
  color: #2d2d2d;
  letter-spacing: -0.03em;
  font-style: italic;
}
.main .bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.main .bottom h5 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.05em;
}
.main .bottom ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.main .bottom ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  text-align: right;
  color: #555;
  line-height: 1;
}

.about .resume {
  padding: 0 7rem;
  height: 100%;
}
.about .resume .grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(11, 1fr);
  column-gap: 4rem;
  row-gap: 4rem;
  height: 100%;
}
.about .resume .grid-container > li {
  border-radius: 1.3rem;
  background-color: #fff;
  box-shadow: 0.4rem 0.8rem 2rem 0px rgba(122, 150, 191, 0.1);
  padding: 5.6rem 4.8rem 4rem 4.8rem;
}
.about .resume .grid-container > li:last-child {
  padding: 3rem 2.8rem;
}
.about .resume .grid-container > li.row-span-7 {
  grid-row: span 7;
}
.about .resume .grid-container > li.row-span-5 {
  grid-row: span 5;
}
.about .resume .grid-container > li.row-span-2 {
  grid-row: span 2;
}
.about .resume .grid-container > li.col-span-3 {
  grid-column: span 3;
}
.about .resume .grid-container > li.col-span-5 {
  grid-column: span 5;
}
@media (max-height: 1000px) {
  .about .resume .grid-container > li {
    padding: 4rem 4.8rem 4rem 4.8rem;
  }
}
.about .resume .grid-container li.left {
  display: flex;
  flex-direction: column;
}
.about .resume .grid-container li.left > .profile {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.about .resume .grid-container li.left > .profile > .img-box {
  width: 8rem;
  aspect-ratio: 1/1;
  border-radius: 100px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background: url(images/img_profile.png) no-repeat;
  background-size: cover;
}
.about .resume .grid-container li.left > .profile > .txt-box h6 {
  font-family: "pretendard", sans-serif;
  color: #2d2d2d;
  line-height: 1;
}
.about .resume .grid-container li.left > .profile > .txt-box span {
  display: block;
  padding-top: 1.6rem;
  font-size: 1.6rem;
  color: #8e8e8e;
  line-height: 1;
}
.about .resume .grid-container li.left > .introduce > .img-box {
  width: 100%;
  height: 23rem;
  text-align: right;
  margin-bottom: 4rem;
  position: relative;
}
.about .resume .grid-container li.left > .introduce > .img-box img {
  height: 140%;
  aspect-ratio: 1/1;
  position: absolute;
  right: -6rem;
  top: -1rem;
}
@media (max-height: 1000px) {
  .about .resume .grid-container li.left > .introduce > .img-box {
    height: 20rem;
  }
}
.about .resume .grid-container li.left > .introduce > span {
  font-size: 3rem;
  line-height: 1.5;
  display: block;
  font-weight: 500;
  color: #2d2d2d;
}
.about .resume .grid-container li.left > .introduce > p {
  padding-top: 4rem;
  font-size: 1.4rem;
  color: #555;
}
.about .resume .grid-container li.left > .hashtag {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: auto;
}
.about .resume .grid-container li.left > .hashtag > li {
  font-size: 1.2rem;
  line-height: 2;
  color: #8e8e8e;
  border: 1px solid #8e8e8e;
  padding: 0 1.6rem;
  border-radius: 1.3rem;
  display: inline-block;
}
.about .resume .grid-container li.center > h6 {
  padding-bottom: 5.6rem;
}
@media (max-height: 1000px) {
  .about .resume .grid-container li.center > h6 {
    padding-bottom: 2.8rem;
  }
}
.about .resume .grid-container li.center > ul {
  width: 100%;
}
.about .resume .grid-container li.center > ul > li:not(:last-child) {
  margin-bottom: 1.6rem;
}
.about .resume .grid-container li.center > ul > li .company-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.2rem;
}
.about .resume .grid-container li.center > ul > li .company-info b, .about .resume .grid-container li.center > ul > li .company-info span {
  font-size: 1.4rem;
}
.about .resume .grid-container li.center > ul > li .company-info b {
  font-weight: 600;
  color: #2d2d2d;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.about .resume .grid-container li.center > ul > li .company-info b::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1.2rem;
  background-color: #555;
}
.about .resume .grid-container li.center > ul > li .company-info small {
  font-size: 1.2rem;
  color: #8e8e8e;
  margin-left: auto;
}
.about .resume .grid-container li.center > ul > li .main-work {
  width: 100%;
  background-color: #F7FAFF;
  padding: 1.6rem 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.about .resume .grid-container li.center > ul > li .main-work > li {
  font-size: 1.3rem;
  line-height: 2.1rem;
  color: #555;
}
.about .resume .grid-container li.right h6 {
  padding-bottom: 5.6rem;
}
@media (max-height: 1000px) {
  .about .resume .grid-container li.right h6 {
    padding-bottom: 2.8rem;
  }
}
.about .resume .grid-container li.right.skill .main-skill {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .resume .grid-container li.right.skill .main-skill > li {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.about .resume .grid-container li.right.skill .main-skill > li > div {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.about .resume .grid-container li.right.skill .main-skill > li > div i {
  width: 4rem;
  aspect-ratio: 1/1;
}
.about .resume .grid-container li.right.skill .main-skill > li > div i img {
  width: 100%;
  transform: translate(0.8rem, 0.5rem);
}
.about .resume .grid-container li.right.skill .main-skill > li > div > div span {
  display: block;
  font-size: 1.3rem;
  padding-bottom: 0.8rem;
  color: #555;
  line-height: 1;
}
.about .resume .grid-container li.right.skill .main-skill > li > div > div .bar {
  width: 6.4rem;
  height: 1rem;
  position: relative;
  background-color: #f0f0f0;
}
.about .resume .grid-container li.right.skill .main-skill > li > div > div .bar .bar-val {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.about .resume .grid-container li.right.skill .main-skill > li > div.html .bar-val {
  background: linear-gradient(90deg, #FFBD71 0%, #EA714C 100%);
}
.about .resume .grid-container li.right.skill .main-skill > li > div.css .bar-val {
  background: linear-gradient(90deg, #42C5FF 0%, #1492D7 100%);
}
.about .resume .grid-container li.right.skill .main-skill > li > div.sass .bar-val {
  background: linear-gradient(90deg, #F153B6 0%, #69244F 100%);
}
.about .resume .grid-container li.right.skill .main-skill > li > div.jquery .bar-val {
  background: linear-gradient(90deg, #2C8FD9 0%, #04355A 100%);
}
.about .resume .grid-container li.right.skill .main-skill > li > div.figma .bar-val {
  background: linear-gradient(90deg, #7B7B7B 0%, #161616 100%);
}
.about .resume .grid-container li.right.skill .main-skill > li > div.xd .bar-val {
  background: linear-gradient(90deg, #FB5FF2 0%, #953890 100%);
}
.about .resume .grid-container li.right.skill .main-skill > li > div.photoshop .bar-val {
  background: linear-gradient(90deg, #30A7FF 0%, #0079FF 100%);
}
.about .resume .grid-container li.right.skill .main-skill > li > div.illu .bar-val {
  background: linear-gradient(90deg, #FD9A01 0%, #C67800 100%);
}
@media (max-height: 1000px) {
  .about .resume .grid-container li.right.skill .main-skill > li {
    gap: 2.4rem;
  }
}
.about .resume .grid-container li.right.skill .etc-tool {
  padding: 1.6rem 1.4rem;
  margin-top: 3rem;
  background-color: #F7FAFF;
}
.about .resume .grid-container li.right.skill .etc-tool > span {
  color: #8e8e8e;
  font-size: 1.3rem;
}
.about .resume .grid-container li.right.skill .etc-tool > ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.about .resume .grid-container li.right.skill .etc-tool > ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .resume .grid-container li.right.skill .etc-tool > ul li img {
  width: 28px;
  aspect-ratio: 1/1;
}
.about .resume .grid-container li.right.skill .etc-tool > ul li span {
  font-size: 1.3rem;
  color: #555;
}
@media (max-height: 1000px) {
  .about .resume .grid-container li.right.skill .etc-tool {
    margin-top: 3rem;
  }
}

.wrap {
  width: 100%;
  min-width: 170rem;
  height: 100vh;
  height: 100dvh;
  padding: 8rem 12rem;
  background: radial-gradient(56.2% 104.42% at 10.18% 12.5%, #FAFCFE 0%, #F9F9FF 50%, #F0F7FF 100%);
  display: flex;
  flex-direction: column;
}
@media (max-height: 1000px) {
  .wrap {
    padding: 4rem 12rem;
  }
}
.wrap section {
  width: 100%;
  height: 100%;
}