// background
$background : radial-gradient(56.2% 104.42% at 10.18% 12.5%, #FAFCFE 0%, #F9F9FF 50%, #F0F7FF 100%);


// text
$text-color-bolder : $gray-80;
$text-color-basic : $gray-70;
$text-color-caption : $gray-50;