
:root{
    --bg-gradient : radial-gradient(56.2% 104.42% at 10.18% 12.5%, #FAFCFE 0%, #F9F9FF 50%, #F0F7FF 100%);
    --bg-secondary : #{$gray-1};
    --bg-desc : #{$gray-5};
    --bg-box : #{$white};

    --border-primary : #{$gray-70};
    --box-border : #{$gray-10};

    --text-color-bolder : #{$gray-80};
    --text-color-basic : #{$gray-70};
    --text-color-caption : #{$gray-60};

    --skill-bar : #{$gray-10};
    --hyperlink-color :  rgb(28, 74, 173);
   
}


:root[class="dark"]{
    --bg-gradient : radial-gradient(65.86% 120.46% at 0% 0%, var(--gray-80, #2D2D2D) 43.73%, var(--gray-black, #000) 100%);
    --bg-secondary : #{$black};
    --bg-desc : rgba(104,104,104,0.1);
    --bg-box : #{$gray-90};

    --border-primary : #{$gray-40};
    --box-border : #{$gray-80};

    --text-color-bolder : #{$gray-10};
    --text-color-basic : #{$gray-40};
    --text-color-caption : #{$gray-50};

    --skill-bar : #{$gray-70};
    --hyperlink-color :  #83d6ff;
  
}


