// 'Montserrat',sans-serif;

// mideum 500
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
// semi-bold 600
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
// bold 700
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


// "Old Standard TT", serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Old+Standard+TT:ital@1&display=swap');


@font-face {
    font-family: 'pretendard', sans-serif;
    src: url(font/Pretendard-Regular.subset.woff) format('woff'),
        url(font/Pretendard-Regular.subset.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}


@font-face {
    font-family: 'pretendard', sans-serif;
    src: url(font/Pretendard-Medium.subset.woff) format('woff'),
        url(font/Pretendard-Medium.subset.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}

@font-face {
    font-family: 'pretendard', sans-serif;
    src: url(font/Pretendard-SemiBold.subset.woff) format('woff'),
        url(font/Pretendard-SemiBold.subset.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}


@font-face {
    font-family: 'pretendard', sans-serif;
    src: url(font/Pretendard-Bold.subset.woff) format('woff'),
        url(font/Pretendard-Bold.subset.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}


html {
    font-size: 62.5%;
    font-family: 'Montserrat', 'pretendard', sans-serif;
}

body {
    font-family: 'Montserrat', 'pretendard', sans-serif;
    font-size: 1.6rem;
    letter-spacing: -0.03em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
}


h6{
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.03em;
}