@mixin flex-align-center{
    display: flex;
    align-items: center;
}

@mixin pageUpBtn{
    background-color: transparent;
    border-radius: 10rem;
    border: 0.2rem solid $text-color-bolder;
    position: fixed;    
    width:  $num-40;
    aspect-ratio: 1 / 1;
    bottom: $num-40;
    right: 12rem;
    > i{
        color : $text-color-bolder;
        font-size : 2rem
    }
}