@mixin flex-align-center{
    display: flex;
    align-items: center;
}

@mixin pageUpBtn{
    background-color: transparent;
    border-radius: 10rem;
    border: 0.2rem solid var(--text-color-bolder);
    position: fixed;    
    width:  $num-40;
    aspect-ratio: 1 / 1;
    bottom: $num-40;
    right: 12rem;
    opacity: 0;
    transition: opacity 1s ease ;

    > i{
        color : var(--text-color-bolder);
        font-size : 2rem
    }

    &.visible{
        opacity: 1;
    }
}