// gray
$white: #fff;
$gray-1: #fafafa;
$gray-5: #f8f8f8;
$gray-10: #f0f0f0;
$gray-20: #e4e4e4;
$gray-30: #d8d8d8;
$gray-40: #c6c6c6;
$gray-50: #8e8e8e;
$gray-60: #717171;
$gray-70: #555;
$gray-80: #2d2d2d;
$black : #000;


//blue
$blue-5 : #F7FAFF;


//size
$num-4 : 0.4rem;
$num-8 : 0.8rem;
$num-10 : 1rem;
$num-12 : 1.2rem;
$num-13 : 1.3rem;
$num-14 : 1.4rem;
$num-15 : 1.5rem;
$num-16 : 1.6rem;
$num-18 : 1.8rem;
$num-20 : 2rem;
$num-24 : 2.4rem;
$num-28 : 2.8rem;
$num-30 : 3rem;
$num-32 : 3rem;
$num-40 : 4rem;
$num-48 : 4.8rem;
$num-56 : 5.6rem; 


//round
$round-13 : $num-13;
